
<div class="alert alert-warning alert-group">
    <div class="form-inline">
        <select ng-options="o.name as o.name for o in operators" ng-model="query.operator" class="form-control input-sm"></select>
        <button style="margin-left: 5px" ng-click="addCondition()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Condition</button>
        <button style="margin-left: 5px" ng-click="addGroup()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add Group</button>
        <button style="margin-left: 5px" ng-click="removeGroup()" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Remove Group</button>
    </div>
    <div class="group-conditions">
        {{query}}
        <div ng-repeat="rule in query.rules | orderBy:'index'" class="condition">
            <div ng-switch="rule.hasOwnProperty('condition')">
                <div ng-switch-when="true">
                    <div class="form-inline">
                        <select ng-options="t.name as t.name for t in fields" ng-model="rule.field" class="form-control input-sm"></select>
                        <select style="margin-left: 5px" ng-options="c.name as c.name for c in conditions" ng-model="rule.condition" class="form-control input-sm"></select>
                        <input style="margin-left: 5px" type="text" ng-model="rule.data" class="form-control input-sm"/>
                        <button style="margin-left: 5px" ng-click="removeCondition($index)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-minus-sign"></span></button>
                    </div>
                </div>
                <div ng-switch-default="ng-switch-default">
                    <query-builder query="rule"></query-builder>
                </div>
            </div>
        </div>
    </div>
</div>